
@charset "UTF-8"; 

body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: rgb(255, 0, 0);
    text-align: center;
}

.exemplo {
    color: aqua;
    text-align: center;
    text-transform: uppercase;
}

p {
    color: rgb(115, 199, 32);
}